<table class="profile" summary="Profile information">
	<tr>
		<td class="main">
			<h1>
			<%= gravatar_for @user %>
			<%= @user.name %>
			</h1>
      
      <%= form_for @user, :html => {:multipart => true} do |f| %>
        <div class="field">
        <p>
          <label>My Datafile</label>
          <%= f.file_field :datafile %>
        </p>
        </div>
        <div class="actions">
          <%= f.submit "Upload" %>
        </div>
          
      <% end %>
      
		</td>

		<td class="sidebar round">
			<strong>Name</strong> <%= @user.name %><br />
			<strong>URL</strong> <%= link_to user_path(@user), @user %><br />
		</td>
	</tr>
</table>
